<!DOCTYPE html>

<html>
    <head>
        <title>SONGS!</title>
        <script src="scripts.js"></script>
    </head>

    <body>
        <h1>Songs in History</h1>
        <br>
        <button type="button" onclick="getSongs()">Get All Songs</button>
        <pre id="result"></pre>
        <br>
        <label for="songId">Song ID</label>
        <input id="songId" type="text">
        <br>
        <button type="button" onclick="getSingleSong()">Get Song with Id</button>
        <pre id="resultTwo"></pre>
        <br>
        <label for="titleInput">Song Title</label>
        <input id="titleInput" type="text">
        <br>
        <label for="artistInput">Song Artist</label>
        <input id="artistInput" type="text">
        <br>
        <label for="yearInput">Year Released</label>
        <input id="yearInput" type="text">
        <br>
        <button onclick="postSong()">Add Song to List</button>
        <br>
        <br>
        <button id="patchButton" type="button" onclick="patchSong()">Edit Song Details</button>
        <br>
        <br>
        <label for="deleteId">Song ID to Delete</label>
        <input id="deleteId" type="text">
        <br>
        <button onclick="deleteSong()">Delete Song</button>
        <br>
        <br>
    </body>
</html>
