<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>SONGS!</title>
    <script src="song-reqs.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Songs in History</h1>

    <form onsubmit="return false">
        <div>
            <button type="button" onclick="getSongs()">GET ALL SONGS</button>
            <pre id="result"></pre>
        </div>

        <br>

        <div>
            <label for="songId">Song ID</label>
            <input id="songId" type="text">
            <br>
            <button onclick="getSingleSong()">GET SONG WITH ID</button>
            <pre id="resultTwo"></pre>
            <br>
        </div>

        <br>

        <div>
            <label for="titleInput">Song Title</label>
            <input id="titleInput" type="text">
            <br>
            <label for="artistInput">Song Artist</label>
            <input id="artistInput" type="text">
            <br>
            <label for="yearInput">Year Released</label>
            <input id="yearInput" type="text">
            <br>
            <button onclick="postSong()">ADD SONG TO LIST</button>
        </div>

        <br>

        <div>
            <button onclick="patchSong()">EDIT SONG DETAILS</button>
            <br>
        </div>

        <br>

        <div>
            <label for="deleteId">Song ID to Delete</label>
            <input id="deleteId" type="text">
            <br>
            <button onclick="deleteSong()">DELETE SONG</button>
            <br>
        </div>
    </form>
</body>

</html>